.form-radio-label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 15px;
}

.form-radio-checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 31px;
  width: 31px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: inset 2px 2px 3px #00000040; /* Отступ между кнопкой и меткой*/
}

.form-radio-checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.form-radio-button:checked ~ .form-radio-checkmark::after {
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #9f9fab;
  box-shadow: 0px 2px 2px #00000033;
}

.form-radio-button {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  }